#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo__heading{
  font-size: 50px;
  margin: 0
}

.todo__form{
  font-size: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-block-end: 0;
  margin-block-start: 0;
  align-items: center;
}

.todo__input{
  width: 600px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}

.todo__submit-task{
  width: 300px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.task__list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding-inline-start: 0;
}

.task__list--item{
  display: flex;
  flex-direction: row;
  
  gap: 10px;
  border: 2px solid rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 20px;
}

.task__checkbox{
  width: 25px;
  height: 25px;
  border-radius: 5px;
  align-self: flex-end;
}

.task__delete{
  border: none;
  border-radius: 10px;
  padding: 15px 10px;
  cursor: pointer;
}